---
import { cn } from '@/lib/utils';

interface Props {
    href: string;
    className?: string;
    external?: boolean;
    target?: string;
    rel?: string;
}

const { href, className, external, target, rel } = Astro.props;
---

<a href={href} target={target || external ? "_blank" : undefined} rel={rel || external ? "nofollow" : undefined} class={cn("text-primary font-medium hover:underline underline-offset-2 inline-flex items-center gap-0.5", className)}>
    <slot />
    {external && 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-4">
            <path d="M7 7h10v10"/>
            <path d="M7 17 17 7"/>
        </svg>}
</a>