---
import HomeLayout from "@/layouts/HomeLayout.astro";
---

<HomeLayout>
  <Fragment slot="head">
    <title>All Projects</title>
  </Fragment>
  <div class="container mx-auto max-w-screen-md px-6 md:px-8">
    <h2 class="my-4 text-2xl font-semibold">All Projects</h2>
  </div>
</HomeLayout>
